*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// colors
// primary
$green-400: hsl(172, 67%, 45%);
// neutral   
$green-900: hsl(183, 100%, 15%);
$grey-500: hsl(186, 14%, 43%);
$grey-400: hsl(184, 14%, 56%);
$grey-200: hsl(185, 41%, 84%);
$grey-50: hsl(189, 47%, 97%);
$white: hsl(0, 100%, 100%);
   
// typography
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


body {
    font-size: 24px;
    font-family: "Space Mono";
    font-weight: 700;
    color: $green-900;
}

h2 {
    font-size: 14px;
    color: $white;
}

h3{
    color: $grey-400;
    font-size: small;
}



.container{
    background-color: $grey-200;
    height: 100dvh;
}

.card{
    background-color: $white;
    border-radius: 20px 20px 0 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;

}
   
.header{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    color: $green-900;
    text-align: center;
    font-size: 22px;
    letter-spacing: 5px;
    line-height: 1.5;
}

input{
    width: 100%;
    color: $green-900;
    border: none;
    background-color: $grey-50;
    height: 40px;
    border-radius: 5px;
    font-family: "Space Mono";
    font-size: large;
    text-align: right;
    padding: 15px;
    cursor: pointer;
    &:focus{
        outline-color: $green-400;
    }
}

.bill {
    background-image: url("../images/icon-dollar.svg");
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#num_people{
    background-image: url("../images/icon-person.svg");
    background-repeat: no-repeat;
    background-position: 10px 10px ;
}

.result{
    background-color: $green-900;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-areas: "span span";
    gap: 20px;
}

label{
    font-size: small;
    color: $grey-500;
}


.grid {
    display: grid;
    grid-template: "tip tip";
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

.tip {
    width: 100%;
    background-color: azure;
    /* border: none; */
    border-radius: 5px;
    gap: 20px;
    background-color: $green-900;
    color: $white;
    height: 40px;
    cursor: pointer;
}

.selected{
    background-color: $green-400;
}

.tip--custom{
    height: 40px;
    cursor: pointer;
}

.result-total, .result-tip {
    text-align: right;
    color: $green-400;
}

button {
    grid-column-end: span 2;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Space Mono";
    border: none;
    background: $green-400;
    color: $green-900;
    text-transform: uppercase;
    cursor: pointer;
}

#error {
    font-size: small;
    color: orange;
    display: none;
}

.label_numpeop{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


@media (min-width: 768px) {

    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        flex-direction: row;
        height: max-content;
        border-radius: 20px;
        width: fit-content;
    }

    .result {
        width: 100%;
    }

    .grid {
        grid-template-columns: repeat(3, 100px);
    }

    img {
        height: auto;
    }
}